<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172174387469-8hc5al2d7pia1rhrhca3k1t2u0f1s02l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172174387469-8hc5al2d7pia1rhrhca3k1t2u0f1s02l</string>
	<key>API_KEY</key>
	<string>AIzaSyAvZYKCrFs1LGG2QyoqnD4Zxzj5WvasAK0</string>
	<key>GCM_SENDER_ID</key>
	<string>172174387469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeService</string>
	<key>PROJECT_ID</key>
	<string>bike-service-c602d</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-service-c602d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172174387469:ios:58d433e14a121df534a844</string>
	<key>DATABASE_URL</key>
	<string>https://bike-service-c602d-default-rtdb.firebaseio.com</string>
</dict>
</plist>